/* Write your CSS here */
.back {
  background-color: #e2a139;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.para {
  margin-right: 20px;
  font-weight: 500;
}

.head {
  color: #a35200;
  font-weight: 900;
}
.con {
  background-color: white;
  border-radius: 10px;
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.size {
  height: 300px;
  width: 300px;
}

.con1 {
  display: flex;
  flex-direction: row;
}

.but {
  background-color: #f9d423;
  color: #a35200;
  font-weight: 900;
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  border-radius: 10px;
}
